<div class="row" ng-if="!hctrl.showsearch">
  <div class="col-sm-4">
    <showcase
    title="INSPIRATION"
      list="hctrl.fpvids.profile"></showcase>
  </div>
  <div class="col-sm-4">
    <showcase
      title="ADVICE"
      list="hctrl.fpvids.staff"></showcase>
  </div>
  <div class="col-sm-4">
    <showcase
      title="OPPORTUNITIES"
      list="hctrl.fpvids.happening"></showcase>
  </div>
</div>

<div class="row">

  <div class="col-md-3 col-sm-12" >
    <div class="row">
      <div class="col-sm-12" ng-if="hctrl.showsearch">
        <button type="button" class="btn btn-primary btn-lg button_home"
                ng-click="hctrl.newSearch()">
          <i class="fa fa-search"></i>&nbsp;NEW SEARCH</button>
      </div>
      <div class="col-sm-12">
        <button type="button" class="btn btn-success btn-lg button_home">
          <i class="fa fa-arrows-alt"></i>&nbsp;NEW OPPORTUNITIES</button>
      </div>
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary btn-lg button_home">
          <i class="fa fa-street-view"></i>&nbsp;WHERE DO I START?</button>
      </div>
      <div class="col-sm-12">
        <button type="button" class="btn btn-success btn-lg button_home">
          <i class="fa fa-upload"></i>&nbsp;LATEST ADDITIONS</button>
      </div>
    </div>
  </div>

  <div class="col-md-9 col-sm-12" >
    <div class="panel panel-default" >
      <div class="panel-heading">
        <h3 class="panel-title text-center" ng-if="!hctrl.showsearch">SEARCH RESOURCES</h3>
        <h3 class="panel-title text-center" ng-if="hctrl.showsearch">
            {{hctrl.results.length}} RESULTS FOR '{{hctrl.search.toUpperCase()}}'.</h3>
      </div>

        <div class="panel-body" ng-if="!hctrl.showsearch" layout="column" ng-cloak>
          <md-content class="md-padding">
            <div>ENTER THE WORD THAT BEST DESCRIBES WHAT YOU'RE LOOKING FOR</div>
            <div>Even if we don't have a matching tag, we'll take a look to
              see what we have for you.</div><br />
            <div>{{hctrl.myHeader}}</div><br />
            <form ng-submit="$event.preventDefault()" name='getForm' novalidate>
              <div ng-if="hctrl.notag" class="alert alert-danger" role="alert">
                We don't have anything that matches that request. Please try again.</div>
              <md-autocomplete
                  ng-disabled="hctrl.isDisabled"
                  md-no-cache="hctrl.noCache"
                  md-selected-item="hctrl.selectedItem"
                  md-search-text-change="hctrl.searchTextChange(hctrl.searchText)"
                  md-search-text="hctrl.searchText"
                  md-selected-item-change="hctrl.selectedItemChange(item)"
                  md-items="item in hctrl.querySearch(hctrl.searchText)"
                  md-item-text="item.display"
                  md-min-length="0"
                  placeholder="How can we help?" ng-model="hctrl.search"
                  class="input-element">
                <md-item-template>
                  <span md-highlight-text="hctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                  No tags matching "{{hctrl.searchText}}" were found, but keep typing; we'll do our best to see if we have what you request.
                </md-not-found>
              </md-autocomplete>
              <br/>
              <button type="submit" class="btn btn-primary"
                      ng-click = "hctrl.goSearch('rank')">Search By Ranking</button>
              <button type="submit" class="btn btn-primary"
                      ng-click = "hctrl.goSearch('views')">Search By # Views</button>
              </form>
          </md-content>
        </div>
        <div class="panel-body" ng-if="hctrl.showsearch">
          <div ng-repeat="item in hctrl.results track by $index">
            <show-results
                title={{item.title}}
                list="item"></show-results>
          </div>
        </div>
      </div>
  </div>



</div>
