<div class="row">
  <div class="col-sm-6 text-center">
    <h4>Possible Tags</h4>
    <div ng-repeat="tag in $ctrl.tags">
      <button type="button" class="btn btn-primary btn-sm button_tag"
              ng-if="tag.show"
              ng-click="$ctrl.changeShow($index)">{{tag.display}}</button>
    </div>
  </div>
  <div class="col-sm-6 text-center">
    <h4>Tags For this Resource</h4>
    <div ng-repeat="tag in $ctrl.tagsin">
      <button type="button" class="btn btn-primary btn-sm button_tag"
              ng-if="tag.show"
              ng-click="$ctrl.changeShow($index)">{{tag.display}}</button>
    </div>
  </div>
</div><br />
