<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">{{$ctrl.title}}, {{$ctrl.who.fname}}</h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <show-list
          whatdoing = 'pending'
          level="$ctrl.who.level"
          title="CURRENT LIST OF PENDING RESOURCES"
          list="$ctrl.list"
          edit-action="$ctrl.approveUpdate(index)"
          delete-action="$ctrl.deleteUpdate(index)"></show-list>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 ng-if="$ctrl.whatDo=='delete'"
            class="modal-title" id="exampleModalLabel">Delete "{{$ctrl.resource.title}}"</h5>
            <h5 ng-if="$ctrl.whatDo=='approve'"
                class="modal-title" id="exampleModalLabel">Approve "{{$ctrl.resource.title}}"</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" >
        <div class=row>
          <div class="col-sm-12">
            <a href="{{$ctrl.resource.rlink}}" target="_blank"
                type="button" class="btn btn-primary" >GO LOOK AT RESOURCE</a><br />
          </div>
          <div class="col-sm-12" ng-if="$ctrl.whatDo=='delete'">
          <br />  Are you sure you want to delete this entry? Whatever you've entered will be
            gone, lost, forgotten, goodbye. Well, not really. You can 'resurrect' this resource.
          </div>
          <div class="col-sm-12" ng-if="$ctrl.whatDo=='approve'">
            <br /><form>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Title (Type: {{$ctrl.resource.type_resource}})</label>
                    <input  type="text" class="form-control"
                            placeholder="{{$ctrl.resource.title}}"
                            >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleTextarea">Description</label>
                    <textarea class="form-control" rows="3"
                              ng-model="$ctrl.resource.description">{{$ctrl.description}}</textarea>
                  </div>
                </div>
              </div>

              <tag-edits
                tagstring="$ctrl.tagstring"
                change-string = "$ctrl.newstring(nstring)"
                ></tag-edits>
          </form>
       </div>
      </div>

      <div class="modal-footer">
        <div ng-if="!$ctrl.madeDelete">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >CANCEL</button>

          <button ng-if="$ctrl.level=='super'" type="button" class="btn btn-primary"
          ng-click="$ctrl.doDelete('delete')">DELETE</button>

        </div>
        <div ng-if="$ctrl.madeDelete">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
          ng-click="$ctrl.resetAll()">CLOSE</button>
        </div>

      </div>

    </div>
  </div>
</div>
